<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>Welcome to our forum app created by using ruby on rails. Thank you for signing up, <%= @user.name %>!</p>
    <p>Your username is: <%=@user.name%></p>
    <p>Your password is: <%=@user.password%></p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
